<h2><%= form_title %></h2>

<%= form_with model: @task, class: 'task-form'  do |f| %>
<p>
  <%= f.label :action %>
  <%= f.text_field :action %>
</p>

<p>
  <%= f.label :completed_date %>
  <%= f.text_field :completed_date %>
</p>

<p>
  <%= f.submit action_type, class: "task-submit-button" %>
  <% end %>
</p>
